@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

@media all and (max-width: 480px){

    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .chess{
        width: 360px;
        height: 360px;
        border-style: solid;
        display: flex;
     margin-top: 250px;
     margin-left: 230px;
       
    }
    
    .ar{
        width: 45px;
        height: 45px; 
        font-weight: bold;
        color: grey;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    } 

    body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height:600px;
        
        background-color: #7A9DB1;
    }
  
    .black{
        background-color: black;
        color: black;
    }
    .white{
        background-color: aqua;
        color: aqua;
    }

    .generatedcoordination{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 10px;
        font-weight: bold;
        font-size: 25px;
      margin-right: 60px;
    }

    .generate{
        display: flex;
        flex-direction: column;
        border-left:none ;
        
    }
    .radio-group{
        visibility: hidden;
    }

    .text{
        font-weight: bold;
        font-size: 15px;
        margin-left: 80px;
        
    }
    .btn{
        height: 40px;
        width: 90px;
        margin-left: 75px;
        margin-top: 20px;
        border-radius: 20px;
    }

    .scoretext{
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: 25px;
        margin-top: 40px;
        margin-right: 40px;
    }
    .score{
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: 25px;
        margin-right: 40px;
    }
}